/*----- ALLMÄNT -----*/
body, html{
    height: 100%;
    width: 100%;

    /* min-width: 600px; */
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px auto 1fr auto;
    grid-template-areas: 
    "H H H H H H H H H H H H"
    "N N N N N N N N N N N N"
    ". C C C C C C C C C C ."
    "F F F F F F F F F F F F"
    ;

    min-height: 100vh;

    background-color:#6a719b ;
}

alt{
    font-size: 1rem;
    font-style: italic;
}
a {
    color:white;
    text-decoration: none;
}
ul{
    list-style-type: none;

}
/*----- HEADER -----*/
header {
    grid-area: H;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    
    
    
    /*box-shadow: inset 0px -28px 13px 0px rgba(18, 18, 27, 0.336);*/
    
}
#titel{
    background-color:#344966;
    
    color: #FFFFFF;
    text-shadow: #252525 3px 5px 2px;
    
    font-size: 4rem;
    font-weight: bold;

    padding: 0;
    

}

header > a {
    display: flex;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.178);


    width: 100%;

}

/*----- NAV -----*/
nav {
    grid-area: N;

    
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 5px;
    
    background-color: #c59c06;
    color: #fff;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);

}


.navlist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
    padding: 0;
    margin: 0;
    
}

.navitem{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0;
    
    border-right:#e0c358 solid 2px ;
}

.navitem:first-of-type{
    padding: 10px !important;
}

.navitem:last-of-type {
    border: none;
}

.navitem:hover {
    background-color: #e0c358 ;
    cursor: pointer;
}

#menu {
    font-size: 2.3rem;
    
    display: flex;
    align-self: center;

    padding: 0;
    margin: 0;
    padding-right: 10px !important;
    padding-bottom: 6px !important;
}
.bar {
    width: 45px;
    height: 5px;
    
    justify-self: flex-start;

    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);

    margin: 7px 0;
    padding: 0;
}

.ml {
    max-height: 100px;
}

/*-----SIDEBAR-----*/
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background:#344966;
    color:rgba(255, 255, 255, 0.9);

    padding: 0;
    margin: 0;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    left: -300px;

    transition: all 500ms ease-in-out;

    z-index: 2;
}

.scroll{
    overflow-y: scroll;

    height: 82vh;

    margin-top: 0px !important;
}

.scroll::-webkit-scrollbar{
    width: 0.5rem;

    padding-top: 3px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

#sidebar.active{
    left: 0px;
    box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.75);

}

#sidebar ul li{
    list-style-type: none;
    padding: 15px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);

}
ul {
    padding-inline-start: 0px;
}
#sidebar li:hover {
    background: rgba(0, 0, 0, 0.26);
}
#sidebar a:hover{
    cursor: pointer;
    text-decoration: underline;
} 

#sidebar h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);

}

.titelslider {
    width: 100%;

    padding-bottom: 20px;
    border-bottom: 10px solid rgba(255, 255, 255, 0.26);
    box-shadow: 0 3px 5px -3px black;
}

.titelslider h1 {

    margin: 0;
}

#X {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 2rem;

    background: #00000023;

    margin-left: 250px;
    margin-top: 10px;
}
#X:hover{
    cursor: pointer;
}
#black {
    position: fixed;
    
    height: 100vh;
    width: 100%;

    background-color: hsla(0, 0%, 0%, 0.4);

    z-index: 1;

    display: none;

    animation: background-color ease-in-out;
}
#black.active {
    display: inherit;
}
/*----- CONTENT -----*/
.content {
    grid-area: C;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;

    
    background-color: #485188;
    color: #fff;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.content2 {
    grid-area: C;
    padding: 40px;

    
    background-color: #485188;
    color: #fff;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}


.centertitel{
    grid-column: 2/3;

    text-align: center;
}

.content p, h4{
    grid-column: 1/-1;
    margin: 10px;
}
.content p{
    font-size: 1rem;
}
.content2 p, h4{
    grid-column: 1/-1;
    margin: 10px;
}
.content2 p{
    font-size: 1rem;
}

.contentindex {
    grid-area: C;
    
    padding: 40px;
    
    background-color: #485188a;
    color: #fff;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto;

}
.container--ph {
    padding-top: 48%;
    margin-left: 10%;
    position: relative;

    height: 200px;

    grid-column: 1/12;
    grid-row: 4/5;

    align-content: center;


}


.svg--responsive {
    position: absolute;
    top: 0;
    left: 0;
  }

.ml:hover, .ml:hover {
    stroke: #FFDC5E  !important;
    stroke-width:5px;
    stroke-linejoin: round;
    fill: #FFDC5E  !important;
    cursor: pointer;
}

.ml {
    fill: #003399;
    stroke: black;
    stroke-width: 1px;
}
  
.centertext{
    text-align: center;

}

#brödtext {
    grid-column: 2/12;
    grid-row: 1/2;
}
.karta{
    border: white solid 10px;
    border-radius: 15px;
    display: inline-block;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;

    background-color: #8b90ad;

    box-shadow: 0px 0px 10px -3px #000000;

}


#karttext {
    display: flex;
    justify-content: center;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);

    grid-column: 2/12;
    grid-row: 2/3;
}

#beskrivning {
    grid-column: 1/12;
    grid-row: 3/4;

    margin-left: 10%;

    height: auto;
    width: 30%;
}

#EU-karta {
    grid-row: 3/-1;
}

#info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    color: black;
    border: 2px solid #8b90ad;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }

.Flagga1 {
    min-height: auto;
    width: 50%;

    grid-column: 1/2;
}
.Flagga2 {
    min-height: auto;
    width: 50%;

    grid-column: 2/3;
}
figcaption{
    font-size: 0.9rem;
    font-style: italic;
}

#flagga {
    min-height: auto;
    width: 50%;

    border: 2px white solid;
}
  

.fakta {
    grid-column: 1/3;

    font-size: 1.5rem;

    color: #fff;

}

.fakta h4, h2 {
    border-bottom: 2px rgba(0, 0, 0, 0.26) solid;
    margin-right:10px;
    padding: 10px;
    padding-left: 0 !important;
    font-family: 'Times New Roman', Times, serif;
}

.fruta {
    border: rgb(235, 232, 232) 5px solid;
    border-collapse: collapse;
    height: auto;
    
    grid-column: 3/-1;
    
    display: grid;
    grid-template-rows: auto 1fr ;
    
    box-shadow: inset 0px 0px 3px 1px #000000;
}
.fruta > h3 {
    text-align: center;
}
table {
    background-color: rgba(218, 218, 218, 0.26);
    color: black;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
th {
    text-align: center;

    text-decoration: underline;
}
td { 
    font-size: 1.5rem;
}
th, td, tr {
    padding: 10px;
}

.kallor a:hover {
    color: gray;
    
    text-decoration: underline;
}
h4 {
    height: auto
}

.kallor{
    font-size: 1rem;
}


/*----- FOOTER -----*/
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-area: F;

    background-color: #344966;
    padding: 20px;

    color:white;

}

footer > a, footer > a:visited {
    color: white;
    
    text-decoration: none;
    
}
footer a:hover {
    color: gray;
    
    text-decoration: underline;
}

.footer {
    width: auto;
    
    display: grid;
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    
}
.rubrik{
    font-size: 1.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);

    height: 30px;
    width: auto;

}

/*----- ASIDE -----*/
.a1 {
    grid-area: A;
}
.a2 {
    grid-area: A;
}

/*----- MEDIA ----*/
@media all and (max-width: 3500px) {
    .container--ph {
        padding-top: 50%;
    }
    .fruta {
        height: 100%;
    }
}
@media all and (max-width: 2500px) {
    .container--ph {
        padding-top: 48%;
    }
}
@media all and (max-width: 2000px) {
    .container--ph {
        padding-top: 45%;
    }
}
@media all and (max-width: 1500px) {
    .container--ph {
        padding-top: 40%;
    }
    .fruta {
        height: 100%;
    }
}

@media all and (max-width: 1200px) {
    .container--ph {
        padding-top: 35%;
    }
}
@media all and (max-width: 1026px) {
    .container--ph {
        padding-top: 30%;
    }
    nav{
        font-size: 1rem;
    }
}
@media all and (max-width: 900px) {
    .container--ph {
        padding-top: 25%;
    }
}

@media all and (max-width: 764px) {
    .container--ph {
        padding-top: 20%;
    }
    .navitem{
        padding: 10px;
    }
}
@media all and (max-width: 830px) {
    .fruta {
        grid-column: 2/3;
    }
    .fakta{
        grid-column: 1/-1;
    }
    tr, td, th {
        font-size: 1rem;
    }
    .content{
        padding: 20px;
    }
    .container--ph {
        padding-top: 15%;
    }


}

@media all and (max-width: 540px) {
    footer{
        display: block
    }
    #brödtext {
        font-size: 1rem;
    }
    #karttext{
        font-size: 1rem;
    }
    .container--ph {
        padding-top: 15%;
        height: 180%;
        padding-bottom: 10px;
        position: 0;
    }
    .contentindex{
        grid-template-rows: auto auto auto auto 200px;
    }
    #beskrivning{
        min-width: 75%;
    }
    body{
        grid-template-areas: 
    "H H H H H H H H H H H H"
    "N N N N N N N N N N N N"
    "C C C C C C C C C C C C"
    "F F F F F F F F F F F F"
    ;
    }
    .contentindex{
        padding: 20px;
    }
}

@-o-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}